<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
       <div class="container" data-aos="fade-up">

              <div class="row content">
                     <div class=" pt-4 pt-lg-0" data-aos="fade-left">
                            <h2>Chi siamo:</h2>
                            <p>L’Assemblea Genitori è costituita dai genitori di tutti gli allievi della Scuola
                                   Elementare e
                                   dell’Infanzia e il suo Comitato viene eletto durante la riunione annuale.
                            </p>
                            <p>
                                   Essa dà l’opportunità ai membri del Comitato di organizzare varie attività da
                                   svolgere con i
                                   bambini durante i doposcuola. È inoltre un’occasione di discussione e condivisione di
                                   eventuali proposte; si deve infatti all’iniziativa dell’Assemblea Generale dei
                                   Genitori la
                                   creazione della mensa scolastica.
                            </p>
                            <p>

                                   Il nostro Comitato non è a fine di lucro.
                            </p>
                            <p>

                                   Se siete incuriositi e interessati a entrare nel Comitato Genitori sarete i
                                   benvenuti!
                                   Contattateci tramite il formulario qui sotto:
                            </p>
                     </div>
              </div>

       </div>
</section><!-- End About Us Section -->


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
       <div class="container" data-aos="fade-up">
              <div class="row mt-5">
                     <div class="mt-5 mt-lg-0">
                            <form id="comitatoForm" action="/hb/comitato/sendMessage" method="post" role="form"
                                   class="php-email-form2">
                                   <div class="row">
                                          <div class="col-md-6 form-group">
                                                 <input type="text" name="nome" class="form-control" id="nameFComitato"
                                                        placeholder="Nome" required>
                                          </div>
                                          <div class="col-md-6 form-group mt-3 mt-md-0">
                                                 <input type="text" class="form-control" name="cognome"
                                                        id="lastNameFComitato" placeholder="Cognome" required>
                                          </div>
                                   </div>

                                   <div class="row">
                                          <div class="col-md-6 form-group mt-3 mt-md-0">
                                                 <input type="email" class="form-control" name="email"
                                                        id="emailFComitato" placeholder="Indirizzo email" required>
                                          </div>
                                          <div class="col-md-6 form-group mt-3 mt-md-0">
                                                 <input type="tel" class="form-control" name="phone" id="phoneFComitato"
                                                        placeholder="Telefono" required>
                                          </div>
                                   </div>
                                   <div class="form-group mt-3 mt-md-0">
                                          <textarea class="form-control" name="message" rows="5" placeholder="Messaggio"
                                                 id="messageFComitato" required></textarea>
                                   </div>
                                   <div class="my-3">
                                          <div class="loading">Loading</div>
                                          <div class="error-message"></div>
                                          <div class="sent-message">Your message has been sent. Thank you!</div>
                                   </div>
                                   <div class="text-center"><button id="comitatoFormButton" type="submit">Invia</button>
                                   </div>
                            </form>

                     </div>

              </div>

       </div>
</section><!-- End Contact Section -->

{{!-- <div>
       <section>
              {{{contents.comitatoMembri}}}
       </section>
</div>
--}}

<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
       <div class="container" data-aos="fade-up">

              <div class="row content">
                     <div class=" pt-4 pt-lg-0" data-aos="fade-left">
                            <h2>Membri di comitato:</h2>
                            <div class="row">

                                   <div class="col-lg-6 pt-4 pt-lg-0 aos-init aos-animate" data-aos="fade-left">

                                          <ul>
                                                 <li><i class="ri-check-double-line"></i> Tamara Deon - <i>Cassiera</i>
                                                        (2. Elementare)</li>
                                                 <li><i class="ri-check-double-line"></i> Barbara Foletti (2.
                                                        Elementare)</li>
                                                 <li><i class="ri-check-double-line"></i> Patricia Galli (4. Elementare)
                                                 </li>
                                                 <li><i class="ri-check-double-line"></i> Tania Kummer (1. Elementare)
                                                 </li>
                                                 <li><i class="ri-check-double-line"></i> Serenella Macconi (2. e 5.
                                                        Elementare)</li>
                                          </ul>
                                   </div>

                                   <div class="col-lg-6 pt-4 pt-lg-0 aos-init aos-animate" data-aos="fade-left">

                                          <ul>
                                                 <li><i class="ri-check-double-line"></i> Alessia Manzan -
                                                        <i>Responsabile</i>
                                                 </li>
                                                 <li><i class="ri-check-double-line"></i> Tamara Muzzo (1. Elementare)
                                                 </li>
                                                 <li><i class="ri-check-double-line"></i> Nina Pershina (3. Elementare)
                                                 </li>
                                                 <li><i class="ri-check-double-line"></i> Yariel Rodriguez (1.
                                                        Elementare)</li>
                                                 <li><i class="ri-check-double-line"></i> Veronica Solari (1.
                                                        Elementare)</li>
                                          </ul>
                                   </div>
                            </div>
                     </div>
              </div>



       </div>
</section><!-- End About Us Section -->